#results .blossom-buds {
    background-color: hsla(125, 48%, 48%, .25);
    color: hsla(125, 48%, 48%, .75);
    font-weight: bolder;
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    padding: 0rem;
}

#results .blossom-buds span {
    font-size: 1rem;
    transition: font-size 0.2s ease-out 0.3s;
}

#results:hover .blossom-buds span {
    font-size: 0;
    transition: font-size 0s ease-out 0s;
}

#results .blossom-buds i {
    color: hsla(0, 57%, 60%, .75);
    font-size: 0;
    transition: font-size 0.4s ease-out;
}

#results:hover .blossom-buds i {
    font-size: 2rem;
    
}

#results .blossom {
    /* background-color: hsla(0, 57%, 60%, .25); */
    color: hsla(0, 57%, 60%, .75);
    font-weight: bolder;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    padding: 0rem;
}

#results .buds {
    background-color: hsla(125, 48%, 48%, .25);
    color: hsla(125, 48%, 48%, .75);
    font-weight: bolder;
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    padding: 0rem;
}

#results .number {
    background-color: hsla(125, 48%, 48%, .25);
    color: hsla(125, 48%, 48%, 1);
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem 0 1.5rem 0;
    padding: 0rem;
} 